* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.p-sm {
  padding: 10px;
}

.red-background {
  background-color: red;
}

.white {
  color: white;
}
