* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.p-sm {
  padding: 10px;
}

.my-sm {
  margin-top: 10px;
  margin-bottom: 10px;
}

.red-background {
  background-color: red;
}

.white {
  color: white;
}

.container {
  max-width: 1100px;
  /* border: blue 1px solid; */
  margin: auto;
  /* overflow: hidden; */
}

.users-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
}

.card {
  /* display: inline-block; */
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 14px;
  border: #8f8f8f dashed 1px;
}

.img-rounded {
  border-radius: 50%;
}

.text-center {
  text-align: center;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.btn:focus {
  outline: none;
  border: none;
}

.btn-dark {
  background-color: #333;
}

.btn-light {
  background-color: #eee;
}

.btn-block {
  display: block;
  width: 100%;
}

.loading-spinner {
  width: 200px;
  margin: auto;
  display: block;
}

input {
  display: block;
  width: 100%;
  font-size: 16px;
}
